.Footer-Flex{
    display: flex;
    justify-content: space-evenly;
}
.Footer-Flex h1{
    font-size: 20px;
    font-weight: 500;
}
.Footer-Flex p{
    font-size: 15px;
    font-weight: 500;
    color: grey;
    line-height: 1.6;
}
.Footer-Flex .Icon-1{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    font-size:25px ;
}
.Footer-Flex .Icon-2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    font-size:25px ;
}
.Footer-Flex h3{
    font-size: 150x;
}
.Icon-1-Box{
    display: flex;
    align-items: center;
    gap: 5px;
}